img.post-bg.entered.loaded {
    object-fit: contain !important;
}
/* search-box */
input.local-search-box--input {
    border-radius: 8px !important;
    border-color: #00adb5 !important;
}
.search-dialog hr {
    border-width: 1px;
    border-style: solid;
}
.search-dialog-title {
    color: #393e46;
}
/* head background img*/
#page-header {
    background-image: url('/icon/banner.jpg') !important;
}

/* #footer {
    background-color: !important;
}

#body-wrap {
    background-color: !important;
} */

.framework-info {
    display: none;
}